:root {
  --text-font: "Open Sans", "Arial", sans-serif;
}

*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body{
  position: relative;
  color: #222;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: var(--text-font);
  background-color: #555;
  margin: 0;
  padding: 0;
}
.body-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.0);
  background: url('../img/doctor-bg-img.jpeg') #555 no-repeat center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

*:focus{
  outline: none;
}
.container{
  width:100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left:auto;
  margin-right: auto;
}


/* Site logo */
.site-logo img{
  margin-right: 16px;
  border-radius: 50%;
}
.site-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OPen Sans", "Arial", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s ease;
}
.site-logo:hover{
  color: #888;
}
.site-logo:active{
  opacity: 0.6;
}


/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.sitenav-list{
  display:flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child){
  margin-right: 32px;
}
.sitenav-link{
  display:block;
  color: #fff;
  text-decoration: none;
  line-height: 21px;
  transition: 0.3s;
}
.sitenav-link:hover{
  color:#999;
}
.sitenav-link:active{
  opacity: 0.6;
}


/* HEADER*/  
.site-header{
  position: relative;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}
.site-header-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitenav-item:last-child{
  margin-right: 0;
}
.sitenav-link:active{
  opacity: 0.6;
}

.sitenav-footer .sitenav-link{
  color: #fff;
}
.sitenav-footer .sitenav-link:hover{
  color:#555;
}
.sitenav-footer .sitenav-link:active{
  color:#fff;
  opacity: 0.6;
}
.main-link{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 15px;
  font-family:"Roboto", "Arial", sans-serif;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  transition: 0.3s;
}
.main-link:hover{
  color: #fff;
  background-color: #777;
  border: 1px solid #777;
}
.main-link:active{
  opacity: 0.6;
}
.main-link-solid:hover{
  background-color: transparent;
  background: rgba(222, 46, 84, 0.8);
  color: #fff;
}
.main-link-solid:active{
  background: rgba(222, 46, 84, 0.6);
  opacity: 1 ;
}
.main-link-outline{
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.3s ease;
}
.main-link-outline:hover{
  border-color: transparent;
  background-color: #777;
  color:#fff
}

/* Mneu toggler */
.site-header__menu-toggler {
  display: none;
}


/* HERO */
.hero{
  color: #fff;
  margin: 0;
  padding: 0;
}
.hero-container{
  display: flex;
  align-items: center;
}
.hero-content{
  width: 100%;
  max-width: 520px;
  align-items: center;
  margin: 120px 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
  padding: 20px;
}
.hero-heading{   
  width: 500px;
  margin:0;
  font-size: 36px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 1px;
}
.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}
.hero-img{
  margin-left: auto;
}


/* INDEX-SERVICES */
.index-services{
  padding-top: 120px 0;
}
.index-services-heading{
  width: 100%;
  max-width: 240px;
  font-family: var(--text-font);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
  margin: 0 auto 56px;
}
.index-services-list{
  width: 864px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.index-services-item {
  border-radius: 20px;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.index-services-item:hover {
  background-color:  rgba(255, 255, 255, 0.2);
}

.index-services-item:not(:last-child){
  margin-bottom: 80px;
}
.index-service{
  display: flex;
  align-items: center;
}
.index-services-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  border-radius: 24px;
  box-shadow: 0px 12px 24px -8px rgba(255, 255, 255, 0.5);
}
.index-service-content{
  width: 600px;
  flex-grow: 1;
}
.index-services-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #fff;
}
.index-services-description{
  color: #fff;
}
.index-services-actions{
  text-align: center;
}


/* BLOG SECTION */
.blog-section {
  padding: 80px 0;
  background-color: transparent;
}

.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-post {
  width: 300px;
  margin: 0 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.blog-post:hover {
  transform: translateY(-5px);
}

.blog-post-img {
  width: 100%;
  height: 200px;
  border-radius: 10;
  object-fit: cover;
}

.blog-post-content {
  padding: 20px;
}

.blog-post-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.blog-post-excerpt {
  font-size: 16px;
  color: #fff;
}

.read-more-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff5733;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.read-more-link:hover {
  color: #d62700;
}



/* CTA */
.cta{
  padding: 64px 64px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
.cta-heading{
  width: 100%;
  max-width: 550px;
  margin: 0 auto 40px;
  text-align: center;
  font-family: var(--text-font);
  font-size: 36px;
  line-height: 1.5;
}
.cta-links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cta-links-item:not(:last-child){
  margin-right: 40px;
}


/* ASAL */
.asal {
  margin-top: 80px;
}

.asal-container {
  padding: 50px;
}

.asal-wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--text-font);
  border-radius: 20px;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;

}

.asal-content {
}

.asal-img {
  width: 150%;
  height: auto;
  border-radius: 20px;
  margin-right: 30px;
}

.asal-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.asal-text {
  margin: 0;
  padding: 0;
}

.asal-table-inner {
  margin-top: 80px;
  border-radius: 20px;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.asal-table {
  width: 100%;
  color: #fff;
  font-family: var(--text-font);
  border: 1px solid #999;
  border-collapse: collapse;
}

.asal-title {
  font-weight: 600;
}

.asal-table td,
.asal-table th {
  padding: 10px;
  border: 1px solid #999;
}
th {
  text-align: left;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal--open {
  display: block;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  /* padding: 0 30px 30px; */
  margin: 150px auto;
  height: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}


.modal-label {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: var(--text-font);
  margin-bottom: 20px;
  padding: 20px 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #777;
}

#name, #phone {
  color: #fff;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
#name::placeholder, 
#phone::placeholder {
  color: #fff;
}

.modal-sub-btn {
  padding: 8px 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  border: 0;
  border-radius: 7px;
  background-color: #777;
  transition: 0.3s ease;
}
.modal-sub-btn:hover {
  background-color: #555;
}
.modal-sub-btn:active {
  opacity: 0.7;
}


/* FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}
.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo-footer{
  color: #fff;
}
.site-logo-footer{
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .site-header-sitenav {
    display: none;
  }
  .site-header__menu-toggler {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    font-family: var(--text-font);
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: 0.3s;
  }
  .site-header__menu-toggler:hover {
    color: #fff;
    background-color: #777;
  }
  .site-header__site-logo {
    margin-right: auto;
  }
  .site-header__main-link {
    margin-right: 24px;
  }
  .site-header--open .site-header-sitenav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .site-header-sitenav .sitenav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .site-header-sitenav .sitenav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .asal-wrapper {
    flex-direction: column;
  }
  .asal-img {
    width: 95%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-content {
    width: 70%;
    padding: 20px;
  }
  .hero-heading {
    font-size: 2rem;
  }
  .hero-img {
    width: 40%;
    height: auto;
  }
  .index-services {
    padding: 80px 0;
  }
  .index-services-list {
    width: 100%;
  }
  .index-services-img {
    margin-right: 32px;
  }
}

@media only screen and (max-width: 900px) {
  .site-header__main-link {
    display: none;
  }
  .site-footer-container {
    flex-direction: column;
  }
  .site-logo-footer {
    margin-bottom: 24px;
  }
  .sitenav-footer .sitenav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sitenav-footer .sitenav-item {
    margin: 8px 24px ;
  }
}

@media only screen and (max-width: 800px) {
  .hero-container {
    width: 700px;
    flex-wrap: wrap;
  }
  .hero-content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 15px;
   }
   .hero-heading {
    width: 100%;
    font-size: 24px;
   }
   .hero-text {
    width: 100%;
    max-width: 600px;
  }
  .hero-img {
    margin: 0 auto;
  }
}

/* Responsive styles for blog section */
@media only screen and (max-width: 768px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .blog-post {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .hero-heading {
    font-size: 22px;
  }
  .hero-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .hero-content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 15px;
   }
   .hero-text {
    font-size: 15px;
    width: 100%;
    max-width: 500px;
  }
  .index-services {
    padding: 60px 0;
  }
  .index-services-heading {
    font-size: 24px;
    margin-bottom: 44px;
  }
  .index-service {
    align-items: flex-start;
  }
  .index-services-img {
    width: 140px;
    height: 140px;
  }
  .cta-heading {
    font-size: 24px;
  }
  .cta-links {
    flex-direction: column;
  }
  .cta-links-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .asal-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    padding: 0 22px;
  }
  .site-header--open .site-header-sitenav {
    padding: 22px;
  }
  .index-service {
    flex-direction: column;
    align-items: center;
  }
  .index-service-content {
    width: 100%;
  }
  .hero-container {
    width: 100%;
    padding: 10px;
  }
  .hero-heading {
    font-size: 21px;
  }
  .hero-text {
    font-size: 14px;
  }
  .hero-img {
    width: 55%;
  }
  .index-services-title {
    text-align: center;
  }
  .index-services-img {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .index-services-item:not(:last-child) {
    margin-bottom: 48px;
  }
  .index-services-description {
    text-align: justify;
  }
  .cta {
    padding: 36px 0;
  }
  .cta-links-item {
    font-size: 12px;
  }
}
