*{
  box-sizing: border-box;
}

body{
  font-family: "open Sans", "Arial",sans-serif;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #444
}
.container{
  width:100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left:auto;
  margin-right: auto;
}


/* Site logo */
.site-logo img{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 16px; 
}
.site-logo:hover{
  color: #DE2E54;
}
.site-logo:active{
  opacity: 0.6em;
}


/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.sitenav-list{
  display:flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child){
  margin-right: 32px;
}
.sitenav-link{
  display:block;
  text-transform:uppercase;
}
/* HEADER*/  
 .site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
}
.site-header-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitenav-item:last-child{
  margin-right: 0;
}
.sitenav-link{
  display:block;   
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration:none;
  color: #222;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.sitenav-link:hover{
  color:#DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}
/*
.site-header-main-link{
  text-decoration: none;
}
.site-logo-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-link{
  display: inline-block;
  padding: 12px 24px;
  text-transform:uppercase;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  background: #DE2E54;
  color: #fff;
  text-decoration: none;
  border: 2px solid #DE2E54;
} */
/* HERO */
/* .hero{
  background-color:#0EB4C1;
}
.hero-link{
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  
} */
/* .hero-heading{
  
} */

/* FEATURE */
/* .feature-link{
  text-transform: uppercase;
  border-radius:8px;
  background-color: #DE2E54;
  border: 2px solid #DE2E54; 
} */

/* FOOTER */
/* .footer-bottom{
  background-color:#222;
} */